# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Token/credentials
token.json
credentials.json

# Environment folders
.env
.venv/
env/
venv/
linkedin-bot/

# Editor/OS-specific files
.DS_Store
.idea/
.vscode/

# Output images
output_*.png

# Git submodules or temp
*.orig

